header {
    background-color: orange;
    color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

nav ul {
    list-style: none;
    display: flex;   
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: darkblue;
}

body {
    background-image: url('images/car.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #28113d;
    line-height: 1.6;
    border-radius: 10px;

  }

h1 {
    text-align: center;
    font-size: 36px;
    color: #ebdede;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;

  }

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(143, 141, 141, 0.8);
    boarder-color: red;
  }

.create {
    text-align: center;
    padding: 15px;
    display: block; /* Ensures the link takes up the full width available */
   }
