header {
    background-color: orange;
    color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

nav ul {
    list-style: none;
    display: flex;   
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: darkblue;
}

body {
    background-image: url('images/car.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    line-height: 1.6;
    border-radius: 10px;

  }

ul li {
    font-size: 25px;
    color: white;
}

a {
    color: white;
}
