header {
    background-color: orange;
    color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

nav ul {
    list-style: none;
    display: flex;   
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: darkblue;
}

body {
	font-family: Arial, sans-serif;
  	text-align: center;
}

h1 {
	margin-top: 20px;
}

select {
	padding: 8px;
	font-size: 16px;
}

article {
	boarder: none;
}
