<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Information Form</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/AddCar.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../static/css/images/icons/favicon1.png">
    <header>
      <nav>
          <ul>
            <li><a href="/easy">Home</a></li>
            <li><a href="/vehicles">Vehicles</a></li>
            <li><a href="/location">Locations</a></li>
            <li><a href="/AdminLogin">Admin login</a></li>
            <li><a href="/VehicelRegistration">Vehicle registration</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
  </header>
</head>

<body>
    <h1>Car Information Form</h1>
    <form action="/submit_car" method="POST" enctype="multipart/form-data">
        <label for="make">Make:</label>
        <input type="text" name="make" id="make" required>

        <label for="model">Model:</label>
        <input type="text" name="model" id="model" required>

        <label for="year">Year:</label>
        <input type="number" name="year" id="year" required>

        <label for="condition">Condition:</label>
        <input type="text" name="condition" id="condition" required>

        <label for="color">Color:</label>
        <input type="text" name="color" id="color" required>

        <label for="price">Price:</label>
        <input type="text" name="price" id="price" required>

        <label for="photo1">Photo 1:</label>
        <input type="file" name="photo1" id="photo1" accept="image/*" required>

        <label for="photo2">Photo 2:</label>
        <input type="file" name="photo2" id="photo2" accept="image/*" required>
        
        <label for="PlateNo">PlateNo:</label>
        <input type="text" name="PlateNo" id="PlateNo" required>
        
        <label for="vehicle">Vehicle Type:</label>
            <select id="vehicle" name="vehicle">
            <option value="sedan">Sedan</option>
            <option value="compact">Compact</option>
            <option value="suv">SUV</option>
            <option value="truck">Truck</option>
            <option value="van">Van</option>
        </select>
        
        <input type="submit" value="Submit">
    </form>
<script src="../static/js/AddCar.js"></script>
</body>
</html>
