<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/AdminPage.css" rel="stylesheet" type="text/css" />
    <title>Admin Dashboard - Easy Car Rental</title>
    <link rel="shortcut icon" href="../static/css/images/icons/favicon1.png">
    <header>
        <nav>
            <ul>
                <li><a href="/easy">Home</a></li>
                <li><a href="/vehicles">Vehicles</a></li>
                <li><a href="/location">Locations</a></li>
                <li><a href="/AdminLogin">Admin login</a></li>
                <li><a href="/VehicelRegistration">Vehicle registration</a></li>
                <li><a href="/about">About</a></li>
            </ul>
          </nav>
    </header>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <h2>Welcome, Admin!</h2>
    <p>From this dashboard, you can manage user accounts, inventory, orders, and website content for Easy Car Rental.</p>
    <h2>Manage User Accounts</h2>
    <ul>
        <li><a href="create_user.html">Create a new user account</a></li>
        <li><a href="update_user.html">Update an existing user account</a></li>
        <li><a href="delete_user.html">Delete a user account</a></li>
    </ul>
    <h2>Manage Inventory</h2>
    <ul>
        <li><a href="/AddCar">Add a new car to inventory</a></li>
        <li><a href="update_car.html">Update an existing car in inventory</a></li>
        <li><a href="remove_car.html">Remove a car from inventory</a></li>
    </ul>
    <h2>Manage Orders</h2>
    <ul>
        <li><a href="/Orders">View all orders</a></li>
        <li><a href="update_order.html">Update an order</a></li>
        <li><a href="cancel_order.html">Cancel an order</a></li>
    </ul>
    <h2>Manage Website Content</h2>
    <ul>
        <li><a href="add_page.html">Add a new page to the website</a></li>
        <li><a href="update_page.html">Update an existing page on the website</a></li>
        <li><a href="remove_page.html">Remove a page from the website</a></li>
    </ul>
	
    <ul>
        <li><a href="/logout">Sign Out</a></li>
    </ul>

    <script src="../static/AdminFun.js"></script>
</body>
</html>
