<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Car Rentals</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="../static/css/index.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../static/css/images/icons/favicon1.png">

</head>

<body>
    <header> 
        <h1>Welcome to Easy Car Rentals</h1>
        <nav>
          <ul>
            <li><a href="/easy">Home</a></li>
            <li><a href="/vehicles">Vehicles</a></li>
            <li><a href="/location">Locations</a></li>
            <li><a href="/AdminLogin">Admin login</a></li>
            <li><a href="/VehicelRegistration">Vehicle registration</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
      </header>



