{% include "header.html" %}
<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Easy Car Rentals</title>
 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
{% block body %}

   <div class="container">
      <div class="row">
         <div class="col md-12">
            <h2>Users List <button type="button" class="btn btn-success  pull-right" data-toggle="modal"
                  data-target="#myModal">Add Users Data</button></h2>
            <div class="alert alert-success alert-dismissable" role="alert">
               <button type="button" class="close" data-dismiss="alert" aria-label="close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <table class="table table-striped">
               <tr>
                  <th>Id</th>
                  <th>Email</th>
                  <th>Password</th>
               </tr>
               <!--Display value from database to the Table-->
               {% for user in users %}
               <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.password }}</td>
                  <td>
                     <a href="/update/{{ user.id }}" class="btn btn-warning btn-xs" data-toggle="modal"
                        data-target="#modaledit{{ user.id }}">Edit</a>
                     <a href="/delete/{{ user.id }}" class="btn btn-danger btn-xs"
                        onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                  </td>
               </tr>
               {% endfor %}
            </table>
         </div>
      </div>
{% endblock %}

</html>