<!DOCTYPE html>
<html>
    <head>
	<link href="../static/css/vehicles.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../static/css/images/icons/favicon1.png">
        <title>Payment Confirmation</title>
    </head>
    <body>
      <header>
        <nav>
            <ul>
                <li><a href="/easy">Home</a></li>
                <li><a href="/vehicles">Vehicles</a></li>
                <li><a href="/location">Locations</a></li>
                <li><a href="/AdminLogin">Admin login</a></li>
                <li><a href="/VehicelRegistration">Vehicle registration</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
      </header>
        <h1>Payment Confirmation</h1>
        <p>Thank you for your payment! Your transaction has been completed successfully.</p>
    </body>
</html>
