<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<ul>
    {% for vehicle in vehicles %}
    <li>
        <h3>{{ vehicle.fname }} {{ vehicle.lname }}</h3>
        <p>Vehicle: {{ vehicle.vehicle }}</p>
        <img src="data:image/jpeg;base64,{{ vehicle.photo1_base64 }}" alt="Vehicle Photo 1">
        <img src="data:image/jpeg;base64,{{ vehicle.photo2_base64 }}" alt="Vehicle Photo 2">
    </li>
    {% endfor %}
</ul>
    
</body>
</html>
