<!DOCTYPE html>
<html>
  <head>
    <title>Car Rental Registration Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/registration.css">
    <link href="../static/css/VehiclerRgistration.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../static/css/images/icons/favicon1.png">
    <header>
      <nav>
          <ul>
            <li><a href="/easy">Home</a></li>
            <li><a href="/vehicles">Vehicles</a></li>
            <li><a href="/location">Locations</a></li>
            <li><a href="/AdminLogin">Admin login</a></li>
            <li><a href="/VehicelRegistration">Vehicle registration</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
  </header>
  </head>
  <body>
    <h1>Car Rental Registration Form</h1>
    <form action="#" method="post">
      <div class="form-group">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" pattern="[a-zA-Z]+" required>
      </div>
      <div class="form-group">
        <label for="mname">Middle Name:</label>
        <input type="text" id="mname" name="mname" pattern="[a-zA-Z]+" required>
      </div>
      <div class="form-group">
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" pattern="[a-zA-Z]+" required>
      </div>
      <div class="form-group">
        <label for="idpassport">ID/Passport:</label>
        <input type="file" id="idpassport" name="idpassport" accept="image/*" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" pattern="\d{10}" required>
      </div>
      <div class="form-group">
        <label for="carreg">Car Registration:</label>
        <input type="file" id="carreg" name="carreg" accept="image/*" required>
      </div>
      <div class="form-group">
        <label for="phot1">Car phot1:</label>
        <input type="file" id="photo1" name="photo1" accept="image/*" required>
      </div>
      <div class="form-group">
        <label for="phot2">Car phot2:</label>
	<input type="file" id="photo2" name="photo2" accept="image/*" required>
      </div>
      <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required>
      </div>
      
       <div class="form-group">
        <label for="PlateNo">Plate Number:</label>
        <input type="text" id="PlateNo" name="PlatNo" required>
      </div>

      <div class="form-group">
        <label for="Make">Make:</label>
        <input type="text" id="make" name="make" required>
      </div>

      <div class="form-group">
        <label for="Model">Model:</label>
        <input type="text" id="model" name="model" required>
      </div>

      <div class="form-group">
        <label for="color">Color:</label>
        <input type="text" id="color" name="color" required>
     </div>

     <div class="form-group">
        <label for="price">price:</label>
        <input type="text" id="price" name="price" required>
      </div>

     <div class="form-group">
        <label for="condition">Condition:</label>
        <input type="text" id="condition" name="condition" required>
    </div>

      <div class="form-group">
        <label for="vehicle">Vehicle Type:</label>
        <select id="vehicle" name="vehicle">
          <option value="sedan">Sedan</option>
          <option value="suv">SUV</option>
          <option value="truck">Truck</option>
          <option value="van">Van</option>
        </select>
      </div>

      <div class="form-group">
        <label for="year">Release Year:</label>
        <input type="number" id="year" name="year" min="1900" max="2023" required>
      </div>

      <div class="form-group">
        <input type="submit" value="Submit">
      </div>
        
    </form>

    <p id="output"></p>
    <script src="../static/js/VehicleRegisteration.js"></script>
  </body>

</html>

