<!DOCTYPE html>
<html>
<head>
    <link href="../static/css/vehicles.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="../static/css/images/icons/favicon1.png">
    <title>Vehicle Selection</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/easy">Home</a></li>
                <li><a href="/vehicles">Vehicles</a></li>
                <li><a href="/location">Locations</a></li>
                <li><a href="/VehicelRegistration">Vehicle registration</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

  <section id="sedan-image" class="vehicles">
    <div class="slider-container1">
      <button class="prev-button" onclick="changeSlide(-1)">Previous</button>
      <img src=""  class="slide slide1" width="400" height="400">
      <img src=""  class="slide slide2" width="400" height="400">
      <button class="next-button" onclick="changeSlide(1)">Next</button>
    </div>
    <div class="description">
      <h2>Description</h2>
      <div class="make">Make: </div>
      <div class="model">Model: </div>
      <div class="year">Year: </div>
      <div class="condition">Condition: </div>
      <div class="color">Color: </div>
      <div class="price">Price: </div>
      <button type="book" class="btn">Book Vehicle</button>
    </div>
  </section>


    <script>
	$(document).ready(function() {
            updateSlideAndDescription(1);
    });
    </script>
    <script src="../static/js/Vehicle.js">
    </script>
  </body>
</html>
